header{
    background-color: rgb(7, 7, 146);
    color: white;
    text-align: center; /* Centraliza */
    padding: 25px; /* espaço interno */
    margin: 0 auto;
}

main{
    background-color: aliceblue;
    color: rgb(7, 7, 146);
}